.header {
    display: flex;
    max-width: 1240px;
    width: 100%;
    align-items: center;
    margin-inline: auto;
    justify-content: space-between;
    padding: 40px 20px;
  }
  .header img {
    padding-right: 20px;
  }
  
  .header nav {
    display: flex;
    gap: 50px;
    font-weight: 500;
    font-size: 24px;
  }
  .link {
    text-decoration: none;
    color: #ff6060;
    transition: 0.3s;
  }
  .link:hover,
  .link-active {
    text-decoration: underline;
  }
  @media screen and (max-width: 768px) {
    .header {
      padding: 20px;
    }
  
    .logo-kasa {
      max-width: 145px;
      max-height: 47px;
    }
  
    .header nav {
      gap: 10px;
    }
  
    .link {
      text-transform: uppercase;
      font-size: 12px;
    }
  }