footer {
    display: flex;
    flex-direction: column;
    height: 209px;
    background: #000000;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  .logoFooter {
    padding-block: 66px 20px;
    width: 122px;
  }
  
  h5 {
    color: #ffffff;
    margin-bottom: 30px;
  }

    